.post-form {
  animation: fade 0.3s var(--ease-out), scaleup 0.3s var(--ease-out);
  width: 500px;
  max-width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--size-1);
  }
}
