.view-header {
  display: flex;
  align-items: center;
  gap: var(--size-1);
  padding: var(--size-1) var(--size-2);
  background-color: var(--surface-low);
}
.create-post-page {
  flex: 1;
  display: grid;
  place-items: center;

  form {
    animation: fade 0.3s var(--ease-out), scaleup 0.3s var(--ease-out);
    width: 500px;
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: var(--size-2);
    footer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: var(--size-1);
    }
  }
}
