.post-list {
  --post-size: 300px;
  list-style: none;
  margin-block: 0;
  padding-left: 0;
  display: grid;
  gap: var(--size-2);
  grid-template-columns: repeat(auto-fill, minmax(var(--post-size), 1fr));
  
  li {
    display: contents;
  }
  a {
    content-visibility: auto;
    contain-intrinsic-size: auto 300px;
    animation: fade 0.3s var(--ease-out);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    color: inherit;
    gap: var(--size-1);
    &:hover {
      background-color: var(--surface-high);
    }
    &:active {
      background-color: var(--surface-higher);
    }
    h3 {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;  
      overflow: hidden;
    }
    span {
      color: var(--on-color, var(--text));
    }
  }
}
